.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .active > i, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #0062cc !important;
}

.nav-item:hover, .nav-item:focus {
    * {
        color: #0062cc !important;
    }
}

.nav-link:not([href]) {
    cursor: not-allowed!important;
}

#site-footer {
    z-index: 1000!important;
    position: fixed!important;
    width: 100% !important;
    bottom: 0!important;
    background-color: white!important;
}
