td{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    background: #7bc4ff;
    text-align: center;
    font-weight: bold;
}

.broken {
    background: red!important;
}

.healthy {
    background: green!important;
}

.width-100 {
    width: 100%!important;
}

#owner{
    margin: 5px;
}

#opponent{
    margin: 5px;
}

