td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    background: #7bc4ff;
    text-align: center;
    font-weight: bold;
}

.wounded {
    background: #ff00006b !important;
}

.broken {
    background: red !important;
}

.healthy {
    background: green !important;
}

.healthyChecked {
    background: #008000ad !important;
}

.width-100 {
    width: 100% !important;
}

#owner {
    margin: 5px;
}

#opponent {
    margin: 5px;
}

.join-link {
    padding: 10px;
    border-radius: 25px;
    background: #7bc4ff82;
}

#chat-body {
    width: 100%;
    height: 54px;
    border-top-left-radius: 10px;
    padding: 0 20px 0 20px;
    background: #1d68a75c;
    overflow-y: scroll;
}

.message {
    text-align: center;
    word-break: break-word;
}

.message:before {
    content: '- ';
}

#messageInput {
    border: 1px solid #adc9df;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    background: aliceblue;
    width: 70%;
    resize: none;
    height: 28px !important;
}

#messageButton {
    border: 1px solid #adc9df;
    background: #a5b7c5;
    border-bottom-right-radius: 10px;
    width: 15%;
}

#emoji-button {
    border: 1px solid #adc9df;
    background: #f0f8ff;
    width: 15%;
}

#emoji-button, #messageButton, #messageInput {
    outline: none !important;
}


.navbar-nav {
    color: #6b6b6b;
    text-align: center;
    text-transform: none;
    font-weight: 600;
}

.mobile-menu-content {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 990px) {
    .navbar-nav-container {
        height: 100vh;
        margin-top: 20px;
        /*justify-content: center!important;*/
    }

    .nav-item .nav-link {
        margin: 0 !important;
        padding: 0!important;
    }

    .menu-item-container {
        flex-direction: column;
    }
}

.navbar-nav-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-item-container {
    display: flex;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.nav-item .nav-link {
    padding-left: 5px !important;
}

.navbar-toggler:focus {
    outline: none !important;
}
